.home-bg {
    padding: 94px 0 110px;
    border-radius: 30px;
    background-image: url(D:\fix\dome-app\src\assets\images\Products_Page\Erp/bannar.png);
    margin: 78px 43px 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
}

