.section-title-meta {
  margin-bottom: 50px;
  span {
    font-size: 14px;
    font-weight: 600;
    color: #5c65c7;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  h2 {
    font-size: 22px !important;
    margin-bottom: 0px;
    line-height: 1.2;
  }
}

.features-wrapper-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 30px; 
  margin-top: 40px;
}

.feature-card {
  width: 300px; 
  padding: 20px;
  text-align: center;

}

.feature-card img,
.feature-card Image {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}


.feature-card h4 {
     font-weight: 500;
    margin: 0 0 10px;
    color: #5c5678;
}

.feature-card p {
  font-size: 16px;
  color: #797687;;
}


